<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <h1>Maps</h1>
    </div>
    <div class="col-xs-6 col-md-6">
      <h1>Results</h1>
      <div class="well">
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div><!-- /input-group -->
      </div>
      <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Parking Structure #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in form-horizontal">
      <div class="panel-body form-group">
        <div class="hidden-xs col-sm-4 col-md-4 col-lg-3 control-label">Select Date</div> 
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9"><input type="text" class="form-control " placeholder="MM-DD-YYY"/></div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Parking Structure #2 
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Details 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Parking Structure #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Details
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
